<div class="row">
    <mat-card class="card" id="cardcontainer">
        <div class="header">
            <img src=".\assets\images\header.jpg" alt="Header" class="centerimg">
        </div>
    
        <div class="title">
            <strong>MONTHLY ACCOMPLISHMENT REPORT</strong>
        </div>
        
        <mat-card class="card">
            <table class="tablecontainer">
                <tr>
                    <th>Particulars</th>
                    <th>CAAD</th>
                    <th>CAS</th>
                    <th>COBE</th>
                    <th>COE</th>
                    <th>COED</th>
                    <th>COT</th>
                    <th>GS</th>
                    <th>BURAUEN</th>
                    <th>CARIGARA</th>
                    <th>DULAG</th>
                    <th>ORMOC</th>
                    <th>TANAUAN</th>
                </tr>
        
                <!-- <tr *ngFor="let data of _api.reportData">
                    <td>{{data.entry_id}}</td>
                    <td>{{data.date_entry}}</td>
                    <td>{{data.facilitator}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.type_beneficiary}}</td>
                    <td>{{data.count_male}}</td>
                    <td>{{data.count_female}}</td>
                    <td>{{data.poor_rate}}</td>
                    <td>{{data.fair_rate}}</td>
                    <td>{{data.satisfactory_rate}}</td>
                    <td>{{data.verysatisfactory_rate}}</td>
                    <td>{{data.excellent_rate}}</td>
                    <td>{{data.duration}}</td>
                    <td>{{data.serviceOpt}}</td>
                    <td>{{data.partners}}</td>
                    <td>{{data.fac_staff}}</td>
                    <td>{{data.role}}</td>
                    <td>{{data.cost_fund}}</td>
                </tr> -->
        
            </table>
        
        
        
        </mat-card>
    </mat-card>

</div>
